<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBMTgjDTxIYIxHbL0HAFexCxvrj466OfE</string>
	<key>GCM_SENDER_ID</key>
	<string>406032902985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myrating.app</string>
	<key>PROJECT_ID</key>
	<string>swipe-ranks</string>
	<key>STORAGE_BUCKET</key>
	<string>swipe-ranks.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406032902985:ios:b8e0d9844d1facf1ed4898</string>
</dict>
</plist>